<!DOCTYPE html lang="en">
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Import Google Orbitron Font -->
    <link
      href="https://fonts.googleapis.com/css?family=Orbitron"
      rel="stylesheet"
    />
    <!-- Import Google Icon Font -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <title>FCC projects</title>
    <style>
      .big {
        height: 108px;
      }
      .btn-large:hover {
        background-color: #78909c;
      }
      .btn-large {
        font-size: 36px !important;
      }
      body {
        font-family: "Orbitron", sans-serif;
        background-color: #90caf9;
      }
      .card {
        margin-top: 60px;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
          <div class="card blue-grey lighten-2">
            <div class="card-content blue-grey darken-2 white-text">
              <span class="card-title right-align">01234567890123456789</span>
              <span class="card-title right-align">0/12-345+67*89</span>
            </div>
            <div class="card-action center">
              <div class="row">
                <div class="col s3">
                  <a class="btn-floating btn-large btn-flat"
                    ><i class="material-icons">add</i></a
                  >
                </div>
                <div class="col s3">
                  <a class="btn-floating btn-large btn-flat"
                    ><i class="material-icons">remove</i></a
                  >
                </div>
                <div class="col s3">
                  <a class="btn-floating btn-large btn-flat"
                    ><i class="large material-icons">*</i></a
                  >
                </div>
                <div class="col s3">
                  <a class="btn-floating btn-large btn-flat"
                    ><i class="large material-icons">/</i></a
                  >
                </div>
              </div>
              <div class="row">
                <div class="col s9">
                  <div class="row">
                    <div class="col s4">
                      <a class="btn-large btn-flat">7</a>
                    </div>
                    <div class="col s4">
                      <a class="btn-large btn-flat">8</a>
                    </div>
                    <div class="col s4">
                      <a class="btn-large btn-flat">9</a>
                    </div>
                    <div class="col s4">
                      <a class="btn-large btn-flat">4</a>
                    </div>
                    <div class="col s4">
                      <a class="btn-large btn-flat">5</a>
                    </div>
                    <div class="col s4">
                      <a class="btn-large btn-flat">6</a>
                    </div>
                    <div class="col s4">
                      <a class="btn-large btn-flat">1</a>
                    </div>
                    <div class="col s4">
                      <a class="btn-large btn-flat">2</a>
                    </div>
                    <div class="col s4">
                      <a class="btn-large btn-flat">3</a>
                    </div>
                    <div class="col s4">
                      <a class="btn-large btn-flat disabled">
                        <i class="large material-icons">star</i>
                      </a>
                    </div>
                    <div class="col s4">
                      <a class="btn-large btn-flat">0</a>
                    </div>
                    <div class="col s4">
                      <a class="btn-large btn-flat">.</a>
                    </div>
                  </div>
                </div>
                <div class="col s3">
                  <a class="btn-large btn-flat red-text text-lighten-1 big"
                    >C</a
                  >
                  <div class="valign-wrapper">
                    <a class="btn-large btn-flat big valign-wrapper">=</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </body>
</html>